@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

html,
body {
  cursor: none;
}

button,
a,
input,
textarea,
select,
[role="button"] {
  cursor: none;
}

@media (max-width: 1023px) {
  html,
  body {
    cursor: auto;
  }

  button,
  a,
  input,
  textarea,
  select,
  [role="button"] {
    cursor: auto;
  }
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}